<mat-card id="map-inner-input"
          (click)="$event.stopPropagation();"
          (pointerdown)="$event.stopPropagation();"
          (mousedown)="$event.stopPropagation();"
          (dblclick)="$event.stopPropagation();"
          (wheel)="$event.stopPropagation();">
    <mat-card-content>
        <form name="start">
            <mat-form-field>
                <input
                        matInput
                        [matDatepicker]="startpicker"
                        [matDatepickerFilter]="filterStartDate"
                        (dateChange)="setDate('start', $event)"
                        placeholder="Capture start date" disabled/>
                <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                <mat-datepicker
                        #startpicker
                        disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="time-input hour-input">
                <input
                        matInput
                        [formControl]="shour"
                        (blur)="setHour('start', $event)"
                        class="time-input"
                        type="number"
                        min="0" max="23"
                        placeholder="HH"
                        class="no-spin"/>
                <mat-error
                        *ngIf="(shour.hasError('min') || shour.hasError('max')) && !shour.hasError('required')">
                    Ora
                    <strong>invalida</strong>!
                </mat-error>
                <mat-error *ngIf="shour.hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
            </mat-form-field>
            :
            <mat-form-field class="time-input">
                <input
                        matInput
                        [formControl]="sminutes"
                        (blur)="setMinutes('start', $event)"
                        type="number"
                        min="0" max="59"
                        placeholder="mm"
                        class="no-spin"/>
                <mat-error
                        *ngIf="(sminutes.hasError('min') || sminutes.hasError('max')) && !sminutes.hasError('required')">
                    Ora <strong>invalida</strong>!
                </mat-error>
                <mat-error *ngIf="sminutes.hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
            </mat-form-field>
        </form>
        <mat-divider [vertical]="true" [inset]=true class="vdivider"></mat-divider>
        <form name="end">
            <mat-form-field>
                <input
                        matInput
                        [matDatepicker]="endpicker"
                        [matDatepickerFilter]="filterEndDate"
                        (dateChange)="setDate('end', $event)"
                        placeholder="Capture start date" disabled/>
                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                <mat-datepicker
                        #endpicker
                        disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="time-input hour-input">
                <input
                        matInput
                        [formControl]="ehour"
                        (blur)="setHour('end', $event)"
                        class="time-input"
                        type="number"
                        min="0" max="23"
                        placeholder="HH"
                        class="no-spin"/>
                <mat-error
                        *ngIf="(ehour.hasError('min') || ehour.hasError('max')) && !ehour.hasError('required')">
                    Ora
                    <strong>invalida</strong>!
                </mat-error>
                <mat-error *ngIf="ehour.hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
            </mat-form-field>
            :
            <mat-form-field class="time-input">
                <input
                        matInput
                        [formControl]="eminutes"
                        (blur)="setMinutes('end', $event)"
                        type="number"
                        min="0" max="59"
                        placeholder="mm"
                        class="no-spin"/>
                <mat-error
                        *ngIf="(eminutes.hasError('min') || eminutes.hasError('max')) && !eminutes.hasError('required')">
                    Ora <strong>invalida</strong>!
                </mat-error>
                <mat-error *ngIf="eminutes.hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>

<div leafletDraw
     [leafletDrawOptions]="drawOptions"></div>

<a href='#' id='buy'>Vuoi comprare?</a>