<div id="timeline-map">
  <mat-card>
    <mat-card-title>Timeline</mat-card-title>
    <canvas id="canvas" height="15">{{ chart }}</canvas>
  </mat-card>
</div>
<div id="filters">
  <mat-card>
    <mat-card-title>Filtri</mat-card-title>
    <mat-card-subtitle style="text-align: center">
      Utenti selezionati: {{userSelected?.length}}
    </mat-card-subtitle>
    <mat-selection-list [(ngModel)]="userSelected">
      <mat-list-option *ngFor="let user of userList" >
        {{user}}
      </mat-list-option>
    </mat-selection-list>
    <div style="margin: 10px;text-align: center">
      <button mat-raised-button id="allButton" (click)="selectAll($event)">Seleziona tutti</button>
      <button mat-raised-button id="noneButton" (click)="deselectAll($event)">Deseleziona tutti</button>
    </div>
    <mat-divider></mat-divider>
    <dates></dates>
  </mat-card>
</div>
