<mat-card id="map-card">
    <mat-card-content>
        <div style="height: 500px;width: 100%;"
             leaflet
             [leafletOptions]="options">
            <mat-card id="map-inner-input"
                      (click)="$event.stopPropagation();"
                      (pointerdown)="$event.stopPropagation();"
                      (mousedown)="$event.stopPropagation();"
                      (dblclick)="$event.stopPropagation();"
                      (wheel)="$event.stopPropagation();"
                      *ngIf="!hidden">
                <mat-card-content>
                    <dates></dates>
                </mat-card-content>
            </mat-card>
            <router-outlet></router-outlet>
        </div>
    </mat-card-content>
</mat-card>