<div id="container">

    <div fxLayout fxLayoutGap="15px">

        <div id="timeline-container" fxFlex="70%" fxShow.lt-md="false">
            <table mat-table [dataSource]="archiveList" class="archives-table">
                <ng-container matColumnDef="archiveID">
                    <th mat-header-cell *matHeaderCellDef>Archivio ID</th>
                    <td mat-cell *matCellDef="let row">{{row.archiveId}}</td>
                </ng-container>
                <ng-container matColumnDef="countPositions">
                    <th mat-header-cell *matHeaderCellDef>Numero posizioni</th>
                    <td mat-cell *matCellDef="let row">{{row.countPositionArchive}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let row">{{row.amount}}</td>
                </ng-container>
                <ng-container matColumnDef="purchased">
                    <th mat-header-cell *matHeaderCellDef>Acquistato</th>
                    <td mat-cell *matCellDef="let row">
                        <p *ngIf="row.purchased">SI</p>
                        <p *ngIf="!row.purchased">NO</p>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div id="confirmation-container" fxFlex="25%" fxFlex.lt-md="100%">
            <mat-card-title>Ammontare totale: {{getAmount()}}</mat-card-title>
            <button mat-raised-button id="confirmButton"
                    [routerLink]="['/search']">CANCELLA</button>
            <button mat-raised-button id="cancelButton"
                    (click)="sendConfirmation()">CONFERMA
            </button>
        </div>
    </div>

</div>



