<div id="container">
  <mat-card id="confirmation-container">
    <div fxLayout="column" fxLayoutGap="15px">
      <h1 fxFlex="80%">Ammontare totale: {{getAmount()}}</h1>
      <div fxFlex="80%">
        <button mat-raised-button id="confirmButton"
                [routerLink]="['/search']">CANCELLA
        </button>
        <button mat-raised-button id="cancelButton"
                (click)="sendConfirmation()">CONFERMA
        </button>
      </div>
    </div>
  </mat-card>
  <div id="archives-container" fxLayout fxLayoutAlign="center">

    <table mat-table [dataSource]="archiveList" class="archives-table" fxFlex="80%">

      <ng-container matColumnDef="archiveId">
        <th mat-header-cell *matHeaderCellDef>Archivio</th>
        <td mat-cell *matCellDef="let row">{{row.archiveId}}</td>
      </ng-container>

      <ng-container matColumnDef="countPositions">
        <th mat-header-cell *matHeaderCellDef>Numero posizioni</th>
        <td mat-cell *matCellDef="let row">{{row.countPositionArchive}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
          Prezzo
        </th>
        <td mat-cell *matCellDef="let row">{{ row.amount.toFixed(2) }} €</td>
      </ng-container>

      <ng-container matColumnDef="purchased">
        <th mat-header-cell *matHeaderCellDef>Acquistato</th>
        -->
        <td mat-cell *matCellDef="let row">
          <p *ngIf="row.purchased">SI</p>
          <p *ngIf="!row.purchased">NO</p>
        </td>
      </ng-container>

      <tr id="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>




