<mat-sidenav-container id="sidebar">
  <mat-sidenav #sidenav mode="over">
    Sidenav content goes here!
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card id="map-card">
    <div style="height: 500px;width: 100%;"
         leaflet
         [leafletOptions]="options">
      <div *ngIf="customer"
           leafletDraw
           [leafletDrawOptions]="drawOptions"></div>
    </div>
  </mat-card>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" disabled/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</mat-sidenav-container>