form:last-child {
    margin-left: auto;
}

.enabled {
    color: rgba(0, 0, 0, .87);
}

.time-input {
    width: 40px;
}

.no-spin:not(:focus) {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none !important;
    -moz-appearance: textfield!important;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hour-input {
    text-align: right;
    margin-left: 14px;
}

.vdivider {
    width: 1px !important;
    margin-left: auto !important;
}

#dates-container{
    padding-top: 5px;
}

mat-form-field{
    width: 35%;
}

.date-form{
    margin-bottom: 10px;
}