<div id="dates-container" class="enabled">
    <form name="start" [formGroup]="form">
        <mat-form-field>
            <input matInput
                   formControlName="sdate"
                   class="enabled"
                   [matDatepicker]="startpicker"
                   [matDatepickerFilter]="filterStartDate"
                   (dateChange)="setDate('start', $event)"
                   placeholder="Capture start date" disabled/>
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="time-input hour-input">
            <input matInput
                   formControlName="shour"
                   class="time-input no-spin"
                   type="number"
                   min="0" max="23"
                   placeholder="HH"/>
            <mat-error *ngIf="(form.get('shour').hasError('min') || form.get('shour').hasError('max') ||
                               form.get('shour').hasError('startend')) && !form.get('shour').hasError('required')">
                Ora <strong>invalida</strong>!
            </mat-error>
            <mat-error *ngIf="form.get('shour').hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
        </mat-form-field>
        :
        <mat-form-field class="time-input">
            <input matInput
                   formControlName="sminutes"
                   type="number"
                   min="0" max="59"
                   placeholder="mm"
                   class="no-spin"/>
            <mat-error *ngIf="(form.get('sminutes').hasError('min') || form.get('sminutes').hasError('max') ||
                               form.get('sminutes').hasError('startend')) && !form.get('sminutes').hasError('required')">
                Ora <strong>invalida</strong>!
            </mat-error>
            <mat-error *ngIf="form.get('sminutes').hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
        </mat-form-field>
    </form>
    <form name="end">
        <mat-form-field>
            <input matInput
                   formControlName="edate"
                   class="enabled"
                   [matDatepicker]="endpicker"
                   [matDatepickerFilter]="filterEndDate"
                   (dateChange)="setDate('end', $event)"
                   placeholder="Capture end date"
                   disabled/>
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="time-input hour-input">
            <input matInput
                   formControlName="ehour"
                   class="time-input no-spin"
                   type="number"
                   min="0" max="23"
                   placeholder="HH"/>
            <mat-error *ngIf="(form.get('ehour').hasError('min') || form.get('ehour').hasError('max') ||
                               form.get('ehour').hasError('startend')) && !form.get('ehour').hasError('required')">
                Ora <strong>invalida</strong>!
            </mat-error>
            <mat-error *ngIf="form.get('ehour').hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
        </mat-form-field>
        :
        <mat-form-field class="time-input">
            <input matInput
                   formControlName="eminutes"
                   type="number"
                   min="0" max="59"
                   placeholder="mm"
                   class="no-spin"/>
            <mat-error *ngIf="(form.get('eminutes').hasError('min') || form.get('eminutes').hasError('max') ||
                               form.get('eminutes').hasError('startend')) && !form.get('eminutes').hasError('required')">
                Ora <strong>invalida</strong>!
            </mat-error>
            <mat-error *ngIf="form.get('eminutes').hasError('required')">Ora <strong>richiesta</strong>!</mat-error>
        </mat-form-field>
    </form>
</div>