<div>
    <mat-card class="card">
        <mat-card-content>
            <form class="full-form">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Username"/>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Password" type="password"/>
                </mat-form-field>
            </form>
            <button mat-raised-button class="full-width" color="primary">Accedi</button>
        </mat-card-content>
    </mat-card>
</div>