<div id="timeline-map">
  <mat-card>
    <mat-card-title>Timeline</mat-card-title>
    <canvas id="canvas" height="6px" width="100%">{{ chart }}</canvas>
    <map [setItems]="approximatedArchiveSelectedList" (polygonOutput)="onPolygonReady($event)"></map>
  </mat-card>
</div>
<div id="filters">
  <mat-card>
    <mat-card-title>Filtri</mat-card-title>
    <mat-card-subtitle style="text-align: center">
      Utenti selezionati: {{userSelected?.length}}
    </mat-card-subtitle>
    <mat-selection-list [(ngModel)]="userSelected" (selectionChange)="onSelectionChange()">
      <mat-list-option *ngFor="let user of userList" [value]="user">
        {{user}}
      </mat-list-option>
    </mat-selection-list>
    <div style="margin: 10px;text-align: center">
      <button mat-raised-button id="allButton" (click)="selectAll()">Seleziona tutti</button>
      <button mat-raised-button id="noneButton" (click)="deselectAll()">Deseleziona tutti</button>
    </div>
    <mat-divider></mat-divider>
    <dates (dateChange)="onDatesChange($event)"
           (valid)="onDatesReady($event)"
           [startDate]="userSearchReq.start"
           [endDate]="userSearchReq.end">
    </dates>
    <button mat-raised-button id="dateButton" (click)="getArchives()">Cambia date</button>
  </mat-card>
</div>
