#map-container{
  position: relative;
  display: block;
  width: 100%;
}
.body-container{
  display: flex;
  margin-top: 185px;
}

#filters-large{
  position: relative;
  overflow: visible;
  height: auto;
  padding: .5rem;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

#filters-small{
  z-index: 900;
  text-align: center;
  width: 100%;
  padding: 10px;
}

#small-mat-selection-list{
  text-align: left;
  flex-grow: 1;
  max-height: 90px;
  overflow: auto;
}

#dateButton{
  margin-top: 5px;
}

#confirmation-timeline-container{
  width: 100%;
  position: fixed;
  z-index: 999;
  text-align: center;
  height: 120px;
  top: 65px;
}

map{
  position: fixed;
  width: 100%;
  padding: 5px;
}

.allButton{
  margin-right: 5px;
}

.noneButton{
  margin-left: 5px;
}

#confirmationButton{
  width: 60%;
  size: auto;
}


mat-card-title{
  text-align: center;
  margin-bottom: 7px;
}

mat-selection-list{
  margin-top: 2px;
  text-align: left;
}

mat-expansion-panel{
  margin:0;
}

mat-expansion-panel-header{
  font-weight: bold;
}

.map-loading-shade {
  width: 100%;
  /*background: rgba(0, 0, 0, 0.15);*/
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-pseudo-checkbox-checked{
  background-color: #3f51b5!important;
}

::ng-deep .mat-expansion-panel-body{
  padding: 0 20px 16px!important;
}

::ng-deep snack-bar-container.red-snackbar {
  background: white;
  border-top: 2px solid red;
  text-align: center;
}

::ng-deep .red-snackbar .mat-simple-snackbar {
  color: #4d4d4d;
}

::ng-deep .red-snackbar .mat-simple-snackbar-action{
  color: red;
}