mat-toolbar {
  flex-wrap: wrap;
  position: fixed;
  z-index: 999;
}

mat-toolbar > mat-divider {
  padding-left: 15px;
  padding-top: 30px;
  border-color: white;
}

mat-toolbar > button[mat-button] {
  font-size: 20px;
}

mat-sidenav {
  padding-top: 20px;
}

mat-sidenav > button[mat-button] {
  width: 100%;
}

span.filler {
  flex: 1 1 auto;
}

::ng-deep .mat-drawer-container{
  color: grey;
  background-color: transparent;
  min-height: 100vh;
}