<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <button mat-button routerLink="/search" (click)="sidenav.toggle()" >Acquista</button>
        <button mat-button routerLink="/archives" (click)="sidenav.toggle()">I miei archivi</button>
        <button mat-button routerLink="/purchases" (click)="sidenav.toggle()">I miei acquisti</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" role="heading">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="filler"></span>
            <span>Ciao, {{username}}</span>
            <mat-divider [vertical]="true"></mat-divider>
            <button mat-button (click)="logout();" routerLink="/login">Esci</button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>