<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <button mat-button routerLink="">Carica Archivio</button>
        <button mat-button routerLink="">Scarica Archivio</button>
        <button mat-button routerLink="">Acquista</button>
        <button mat-button routerLink="">Cronologia Acquisti</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" role="heading">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="filler"></span>
            <span>Hi, {{username}}</span>
            <mat-divider [vertical]="true"></mat-divider>
            <button mat-button (click)="logout();" >Logout</button>
        </mat-toolbar>
        <router-outlet name="content"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>