/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-draw/dist/leaflet.draw.css";

html, body {
    width: 100%;
    margin: 0;
}

.count-tooltip {
    background-color: rgba(115, 115, 115, 0.8);
    border: 1px solid rgba(115, 115, 115, 1);
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    color: #ffffff;
}