<div class="card">
    <mat-card fxLayout="row">
        <mat-card-header fxLayout="column" class="inner-card">
            <span routerLink="/login">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h1 class="unfocus">Accedi</h1>
                <mat-icon id="inactive" class="unfocus">lock_outline</mat-icon>
            </div>
            <p class="unfocus">Effettua l'accesso con<br/>username e password</p>
            </span>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <h2>Registrazione</h2>
                <mat-icon id="active">edit</mat-icon>
                <div id="triangle"></div>
            </div>
            <p>Crea gratis il tuo account</p>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" class="inner-card">
            <p *ngIf="error" fxFlexAlign="center">Si è verificato un errore</p>
            <form fxLayout="column" fxFlexAlign="center">
                <mat-form-field>
                    <input matInput [formControl]="form.get('username')" placeholder="Username"
                           autocomplete="username"/>
                    <mat-error *ngIf="form.get('username').hasError('required')">
                        Username <strong>obbligatorio</strong>!
                    </mat-error>
                    <mat-error *ngIf="form.get('username').hasError('exists')">
                        Username <strong>non disponibile</strong>!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [formControl]="form.get('email')" placeholder="Email" autocomplete="email"/>
                    <mat-error *ngIf="form.get('email').hasError('email') || form.get('email').hasError('pattern')">
                        Email <strong>invalida</strong>!
                    </mat-error>
                    <mat-error *ngIf="!form.get('email').hasError('email') && !form.get('email').hasError('pattern') &&
                    form.get('email').hasError('required')">
                        Email <strong>obbligatoria</strong>!
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('exists')">
                        Email <strong>non disponibile</strong>!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           [formControl]="form.get('password')"
                           placeholder="Password" type="password"
                           (keyup)="strength($event)"
                           (blur)="updateConfirmation()"
                           autocomplete="current-password"/>
                    <mat-error *ngIf="form.get('password').hasError('required')">
                        Password <strong>obbligatoria</strong>!
                    </mat-error>
                    <mat-error
                            *ngIf="!form.get('password').hasError('required') && form.get('password').hasError('minlength')">
                        La password deve essere di <strong>almeno 8 caratteri</strong>!
                    </mat-error>
                    <mat-error
                            *ngIf="!form.get('password').hasError('required') && !form.get('password').hasError('minlength') && form.get('password').hasError('symbols')">
                        La password deve contenere almeno tre tra lettere maiuscole, minuscole, numeri e simboli!
                    </mat-error>
                </mat-form-field>
                <mat-progress-bar
                        mode="determinate"
                        [value]="progressPerc"
                        [color]="progressCol"
                ></mat-progress-bar>
                <mat-form-field>
                    <input matInput
                           [formControl]="form.get('confirm')"
                           placeholder="Conferma password"
                           type="password"/>
                    <mat-error *ngIf="form.get('confirm').hasError('required')">
                        Conferma <strong>obbligatoria</strong>!
                    </mat-error>
                    <mat-error *ngIf="form.get('confirm').hasError('matching')">
                        Password <strong>non coincidenti</strong>!
                    </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="flex-start center">
                    <button
                            mat-raised-button
                            color="primary"
                            [disabled]="!form.valid"
                            (click)="register()">Registrati
                    </button>
                    <span>o</span>
                    <button
                            mat-raised-button
                            color="link"
                            routerLink="/login">Login
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>